footer {
    text-align: center;
    align-items: center;
    justify-content: center; 
    margin-top: 5rem;

    .text-container {
        width: 100vw;
        height: 200px;
        background-color: #fd8d64;
        align-items: center;
        justify-content: center;
        display: flex;
    
        p {
            color: #fff;
            font-size: 1.1em;
            background-color: transparent;
            overflow-wrap: break-word;
            margin: 0 30px;
        }
    }

    .logo-container {
        display: flex;
        align-items: center;
        background-color: #2e2f35;
        padding: 10px;
        width: 100vw;
        justify-content: center;
    
        img {
            background-color: transparent;
            height: 85px;
            width: auto;
        }
    }
    
}
